<!-- index.ejs --->
<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <% storyParts.forEach(part => { %>
    <p>
      <img src="<%= part.image %>" width="250" height="250" />
      <%= part.final %> (<%= part.source %>)
    </p>
    <% }) %>

    <form action="/prompt" method="post">
      <input name="message" type="text" />
      <input type="Submit" value="submit" />
    </form>
  </body>
</html>
